<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Login</title>
</head>
<body>
<script src="app.component.js"></script>

<div class="w3-container panel-title w3-blue">
  <h1>BeFrank Demo</h1>
  <p>Login Pensioenoverzicht</p>
</div>

<div class="center">
  <form class="panel">
    <h5>Inloggen</h5>
    <label for="inpEmail" class="middle">Email-adres:</label>
    <input type="text" id="inpEmail" name="inpEmail" class="extra-large">
    <br>
    <label for="inpWachtwoord" class="middle">Wachtwoord:</label>
    <input type="password" id="inpWachtwoord" name="inpWachtwoord" class="middle">
    <br><br><br>
    <button id="btnVerzenden" name="btnVerzenden" class="button">Verzenden</button>
  </form>
</div>

</body>
</html>
