<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Login</title>
</head>
<body>
<script src="app.component.js"></script>

<div class="w3-container panel-title w3-blue">
  <h1>Bridger</h1>
  <p>Bridge Club "Leidschenhage"</p>
</div>

<div class="center">
  <form class="panel">
    <h5>Sign-in</h5>
    <label for="inpUserName" class="middle">User name:</label><br>
    <input type="text" id="inpUserName" name="inpUserName" class="extra-large">
    <br>
    <label for="inpPassword" class="middle">Password:</label><br>
    <input type="password" id="inpPassword" name="inpPassword" class="middle">
    <br><br><br>
    <button id="btnSignIn" name="btnSignIn" class="button">Sign-in</button>
  </form>
</div>

</body>
</html>
